body {
    background: #f5f6f8;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #b31e5a;
    position: absolute;
    top: 48%;
    left: 48%;
    box-shadow: 0 0 8px rgba(0,0,0, .3);
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}

#spinner-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
}

.navbar.align-items-stretch.navbar-light.bg-white.flex-md-nowrap.border-bottom.p-0 {
    height: 61px;
    background-color: #ce1d76 !important;
    border-right: none !important;
}

.main-content .header-navbar, .main-content > .main-navbar {
    box-shadow: 0 0.125rem 0.625rem 0 rgba(90,97,105,.12);
    background-color: #ce1d76 !important;
}

.main-navbar__search input.form-control {
    background-color: #ed1e8e !important;
    color: #ffffff !important;
    font-weight: bold;
}

.main-navbar__search input.form-control::placeholder {
    color: #ffffff !important;
    opacity: 1;
    font-weight: normal;
}

.nav-link-icon i.material-icons {
    color: #ffffff;
    font-size: 1.25rem;
}

.navbar-nav.border-left.flex-row.border-right.ml-auto {
    border-left: none !important;
    border-right: 1px solid #ce1d76 !important;
}

.nav-item.border-right.dropdown.notifications, .nav-item.dropdown {
    border-right: 1px solid #ce1d76 !important;
    background-color: #e01e80 !important;
}

.nav-item.border-right.dropdown.notifications:hover, .nav-item.border-right.dropdown.notifications.show, .nav-item.dropdown.show {
    background-color: #d51e76 !important;
}

.dropdown-menu-small {
    box-shadow: 0 0.125rem 0.625rem 0 rgba(90,97,105,.12);
}

.main-navbar .navbar .navbar-nav .dropdown-menu {
    border: 1px solid #e1e5eb;
}

.main-sidebar {
    box-shadow: none;
    /*border: 1px solid #e1e5eb;*/
}

.main-sidebar.open {
    box-shadow: none;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: none;
}

.progress {
    background-color: #ffffff;
    box-shadow: none;
}

.border-radius {
    border-radius: 4px;
}

.border-bottom-left-radius-0 {
    border-bottom-left-radius: 0 !important;
}

.border-bottom-right-radius-0 {
    border-bottom-right-radius: 0 !important;
}

.border-top-left-radius-0 {
    border-top-left-radius: 0 !important;
}

.border-top-right-radius-0 {
    border-top-right-radius: 0 !important;
}

.border-top-radius-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.badge-pill {

    padding-bottom: .5rem;

}

.icon-sidebar-nav .main-sidebar .nav-wrapper {

    overflow-x: hidden;
    overflow-y: visible;

}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

.section-heading {

    display: inline-block;
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    width: 100%;

}

.section-heading::before {

    bottom: -15px;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    transform: translate(-50%);
    width: 50px;
    background: #b31e5a;

}

.background-0 {
    background: none !important;
}

.card.edit-user-details {
    border-radius: .625rem .625rem 0 0;
}

.dropdown-toggle::after {
    color: #ffffff;
}

