body {
    background: #f5f6f8;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #ce1d76;
    position: absolute;
    top: 48%;
    left: 48%;
    box-shadow: 0 0 8px rgba(0,0,0, .3);
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}

#spinner-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
}

.main-content .header-navbar, .main-content > .main-navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-menu-small {
    box-shadow: 0 0.125rem 0.625rem 0 rgba(90,97,105,.12);
}

.main-navbar .navbar .navbar-nav .dropdown-menu {
    border: 1px solid #e1e5eb;
}

.main-sidebar {
    box-shadow: none;
    /*border: 1px solid #e1e5eb;*/
}

.main-sidebar.open {
    box-shadow: none;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.card {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.badge-pill {

    padding-bottom: .5rem;

}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}