/* Profile Card */

.profile-card {

    background: linear-gradient(to bottom, rgba(244, 31, 144, 0.8), rgba(179, 30, 90, 0.8)), url("../images/hero-area.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90px;
    border-radius: 4px;
    /*border-radius: 4px 4px 0 0;*/
    padding: 10px 20px;
    color: #fff;
}

.profile-card img.profile-photo {

    border: 7px solid #fff;
    float: left;
    margin-right: 20px;
    position: relative;
    top: -30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;

}

.profile-card h5 a {

    font-size: 15px;

}

/*Newsfeed Links CSS*/

ul.nav-news-feed{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 0 40px 0;
}

ul.nav-news-feed li{
    list-style: none;
    display: block;
    padding: 15px 0;
}

ul.nav-news-feed li div{
    position: relative;
    margin-left: 30px;
}

ul.nav-news-feed li div::after{
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid #f1f2f2;
    position: absolute;
    bottom: -15px;
    left: 0;
}

ul.nav-news-feed li a{color: #6d6e71;}

ul.nav-news-feed li i{
    font-size: 18px;
    margin-right: 15px;
    float: left;
}

ul.nav-news-feed i.ion-ios-paper{color: #8dc63f;}

ul.nav-news-feed i.ion-ios-people{color: #662d91;}

ul.nav-news-feed i.ion-ios-people-outline{color: #ee2a7b;}

ul.nav-news-feed i.ion-chatboxes{color: #f7941e;}

ul.nav-news-feed i.ion-images{color: #1c75bc;}

ul.nav-news-feed i.ion-ios-videocam{color: #9e1f63;}

.text-white {

    color: #fff;

}

.chosen-container .chosen-results li.highlighted {

    background-color: #ce1d76;
    background-image: linear-gradient(#F41F90 20%, #B31E5A 90%);
    color: #fff;

}

.contents-ctg {
    padding: 50px;
}

.page-sidebar .widget {
    margin-bottom: 30px;
    box-shadow: none;
    /*border-radius: 2px;*/
}

.page-sidebar .widget .widget-title {
    padding: 17px 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #f1f1f1;
}

.page-sidebar .categories-list {
    padding: 20px;
    list-style: outside none none;
    margin: 0;
}

.page-sidebar .categories-list li {
    padding: 7px 0;
}

.page-sidebar .categories-list li a {
    text-decoration: none;
    color: #888;
    width: 100%;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.page-sidebar .categories-list li a:hover {
    color: #ce1d76;
}

.page-sidebar .categories-list li .category-counter {
    font-size: 12px;
}
.category-counter {
    font-size: 12px;
    color: #888;
    float: right;
}

/* Notifications */

.activity-box {
    position: relative;
}

.activity-list {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
    position: relative;
}

.activity .activity-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.activity .activity-list > li .activity-user {
    height: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 12px;
    left: 8px;
    width: 32px;
}

.activity .activity-list > li .activity-content {
    background-color: #fff;
    margin: 0 0 0 40px;
    padding: 0;
    position: relative;
}

.activity-list::before {
    background: #ddd;
    bottom: 0;
    content: "";
    left: 23px;
    position: absolute;
    top: 8px;
    width: 2px;
}

.activity .activity-list li::before {
    background: #ddd;
    bottom: 0;
    content: "";
    left: 22px;
    position: absolute;
    top: 12px;
    width: 2px;
}

.activity-list li::before {
    background: #ddd;
    bottom: 0;
    content: "";
    left: 8px;
    position: absolute;
    top: 8px;
    width: 2px;
}

.activity-list > li {
    background-color: #fff;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);*/
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    border: 1px solid #e7e7e7;
}

.activity-list > li:last-child .activity-content {
    margin-bottom: 0;
}

.activity-user .avatar {
    height: 32px;
    line-height: 32px;
    margin: 0;
    width: 32px;
}

.activity-list > li .activity-user {
    background: #fff;
    height: 32px;
    left: -7px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3px;
    width: 32px;
}

.activity-list > li .activity-content {
    background-color: #fff;
    margin: 0 0 20px 40px;
    padding: 0;
    position: relative;
}

.activity-list > li .activity-content .timeline-content {
    color: #9e9e9e;
}

.activity-list > li .activity-content .timeline-content a.name {
    color: #000;
}

.activity-list > li .time {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 1.35;
}

/* Edit Profile Menu */

ul.edit-menu{
    padding: 0 20px;
}

ul.edit-menu li{
    list-style: none;
    border-bottom: 1px solid #f1f2f2;
    padding: 15px 0;
    position: relative;
}

ul.edit-menu li:last-child{
    border-bottom: none;
}

ul.edit-menu li.active::before{
    content: "";
    background: #b31e5a;
    width: 2px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%,-50%);
}

ul.edit-menu li i.icon{
    font-size: 16px;
}

ul.edit-menu li.active i.icon{
    color: #b31e5a;
}

ul.edit-menu li a{
    color: #6d6e71;
    margin-left: 20px;
}

ul.edit-menu li.active a{
    color: #b31e5a;
    font-weight: bold;
}

.friend-list .friend-card{
    border-radius: 4px;
    border-bottom: 1px solid #f1f2f2;
    overflow: hidden;
    margin-bottom: 20px;
}

.friend-list .friend-card img.img-responsive.cover{
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.friend-list .friend-card .card-info{
    padding: 0 20px 10px;
}


.friend-list .friend-card .card-info img.profile-photo-lg{
    margin-top: -60px;
    border: 7px solid #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    vertical-align: middle;
}